# ======================
# Secrets
# ======================
appsettings.Development.json
appsettings.json
service-account-key.json
invoice-486512-12a8a3e5d1f8.json
Drive.Personal.Auth/

# ======================
# Build outputs
# ======================
bin/
obj/
[Dd]ebug/
[Rr]elease/

# ======================
# Visual Studio
# ======================
.vs/
*.user
*.rsuser


# ======================
# NuGet
# ======================
packages/
*.nupkg